*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
OpenCV_7_0_0/build/outputs/apk/androidTest/debug/OpenCV_7_0_0-debug-androidTest.apk
